#parent {
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
}

section {
    margin: 0px;
}

#electionHead {
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: rgba(224, 22, 43, 0.9);
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    padding-top: 20px;
}

ul,
p {
    margin: 0px;
    text-align: center;
}

#electionPoll {
    width: 100%;
    height: auto;
    margin: 0px;
    padding-top: 10px;
    background-color: rgba(0, 82, 165, 0.9);
}

.poll {
    width: 98%;
    margin: auto;
    background-color: white;
}

#tabs {
    width: 98%;
    margin: auto;
}

.Dem {
    background-color: rgb(0, 82, 165);
    color: white;
    padding: 10px;
}

.Rep {
    background-color: rgb(224, 22, 43);
    color: white;
}

.None {
    background-color: rgb(255, 255, 255);
}

.question {
    width: 80%;
    margin-left: 30px;
    margin-right: auto;
}

.reply {
    width: 90%;
    margin-left: 30px;
    margin-right: auto;
}

#leftcurtain {
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2;
    background-color: red;
}

#rightcurtain {
    width: 50%;
    height: 100%;
    right: 0px;
    top: 0px;
    position: fixed;
    z-index: 3;
    background-color: blue;
}

.curtain {
    text-align: center;
}

.curtain img {
    width: 90%;
}

#rephed {
    color: white;
    font-family: serif;
}

#demhed {
    color: white;
    font-family: serif;
}

.conf {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
}